// imports
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
	font-family: 'Mont', sans-serif;
	src: url('./fonts/mont_heavydemo.ttf');
}

// Fonts
$primary-font: 'Mont', sans-serif;
$secondary-font: 'Inter', sans-serif;

// Color
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(177, 177, 177, 1);
$dark-color: rgba(35, 35, 35, 1);
$dark-blue: rgba(52, 60, 106, 1);
$active-link: rgba(24, 20, 243, 1);
