@import '../../GlobalStyles/styles.scss';

.navbar {
	display: flex;
	flex-direction: column;
	width: 249px;
	height: 925px;
	align-items: start;
	border-right: 1px solid rgba(230, 239, 245, 1);
	padding-top: 31px;
	background-color: rgba(255, 255, 255, 1);
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 26px;
	margin-left: 43px;
	text-decoration: none;
	color: $secondary-color;
	font-family: $secondary-font;
	font-size: 18px;
	padding-bottom: 39px;
}
.active_line {
	margin-right: 35px;
}

.active_image {
	margin-right: 26px;
}

.active_link {
	margin-top: -17px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $secondary-color;
	font-family: $secondary-font;
	font-size: 18px;
	text-decoration: none;
}

@media (width <= 375px) {
	.navbar {
		display: none;
	}
}
