body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 1440px;
	margin: 0;
	background: rgb(245, 247, 250);
}

@media (width <= 375px) {
	body {
		width: 375px;
	}
}
